.gallery {
    margin: 5px;
    border: 2px solid rgb(241, 241, 241);
    float: left;
    border-radius: 3.5%;
}
  
.gallery:hover {
    border: 2px solid rgb(224, 146, 146);
    transform: scale(1.04);
    cursor: pointer;
}



.thumbnail {
  position: relative;
  width: 190px;
  height: 190px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.bigPic {
    width: 394px;
    height: 394px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8F9491;
    border-radius: 8px;
}
  
li {
    float: left;
}
  
li a {
    font-family: "Lucida Console", "Courier New", monospace;
    display: block;
    color: #F3EAF4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
  
li a:hover:not(.active) {
    background-color: rgb(95, 95, 95);
}
  
.active {
    background-color: #BCA3AC;
}

#highlight {
    color: #8C6057;
    background-color: lightgrey;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 50px;
    border-radius: 15px;
}

#highlight:hover{
    background-color: #caada8;
    color: #F8E5EE;
}
