html,
body {
    background-color: #EADDE1 ; 
    text-align:center;
}


.gallery {
    margin: 5px 5px 15px 5px;
    border: 2px solid rgb(241, 241, 241);
    float: left;
    border-radius: 3.5%;
}
  
.gallery:hover {
    /* border: 3px solid rgb(230, 119, 119); */
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 5px 3px rgb(224, 146, 146);
}

.thumbnail {
  position: relative;
  width: 190px;
  height: 190px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}


.bigPic {
    width: 394px;
    height: 394px;
}

.selected {
    border: 2px solid rgb(139, 78, 78);
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    border: 4px solid rgb(241, 241, 241);
    border-radius: 3.5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8F9491;
    border-radius: 8px;
}
  
li {
    float: left;
}
  
li a {
    font-family: "Lucida Console", "Courier New", monospace;
    display: block;
    color: #F3EAF4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
  
li a:hover:not(.active) {
    background-color: rgb(95, 95, 95);
}

.activeAlbum{
    background-color: rgb(95, 95, 95);
}
  
.active {
    background-color: #BCA3AC;
}

#info_title{
    font-size: 15px;
    padding: 0px;
}

#info_content{
    font-size: 10px;
    padding: 0px;
}

#delete_text{
    color: #bb5440;
}

#delete_buttom{
    color: #bb5440;
    padding:5px 15px; 
    background:#ccc; 
    border:2px #bb5440 solid;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#delete_buttom:hover{
    background:#bb54409d;
    color: #dfdede;
}

#highlight {
    color: #8C6057;
    background-color: lightgrey;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 50px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#highlight:hover{
    background-color: #caada8;
    color: #F8E5EE;
}

#highlightSpace {
    color: #8C6057;
    background-color: #bd99937c;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.input{
    padding:5px 15px; 
    background:#ccc; 
    border:2px rgb(150, 150, 150) solid;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#inputButtom:hover{
    border:2px rgb(110, 109, 109) solid;
    background:rgb(150, 150, 150);
    color: rgb(231, 231, 231);
}

#inputSpace{
    color: #8C6057;
    background-color: #bd99937c;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 50px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#inputSpace:hover{
    background-color: #caada8;
    color: #F8E5EE;
}

#scroll {
    background: #EADDE1;
    height: 300px;
    width: 100%;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
    padding: 5px;
}

/* #scroll > p { */
#scroll p {
    background: transparent;
}
