.screen {
    margin-left: -10px;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1C1C1C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    /* box-sizing: border-box; */
    font-size: 40px;
  }

.process {
  font-size: 25px;
}